<h1>Search results for <%= params[:search_box] %></h1>

<table class="table">
  <tr>
    <th>Station Name</th>
    <th>Address</th>
    <th>Fuel Types</th>
    <th>Distance</th>
    <th>Access Times</th>
  </tr>
  <% @stations.each_with_index do |station, index| %>
    <tr class="result result_<%= index %>">
      <td><%= station.name %></td>
      <td><%= station.address %></td>
      <td><%= station.fuel_types %></td>
      <td><%= station.distance %> miles</td>
      <td><%= station.access_times %></td>
    </tr>
  <% end %>
</table>
